canvas:hover{ /*CANVAS IMAGEN CON RECUADRO */

	background:  rgba(0,0,0,.08);

	border-radius: 10px;

}

.letraNegra{

font-weight: 900 !important;

}

.letraFlaca{

font-weight: 400 !important;



}

.desaparece{

display: none !important;

}



.inputNoStyle{

	width:270px !important; background:none !important; border:none !important; outline:0 !important; font-family:Arial, Helvetica, sans-serif !important; margin:0 !important; padding:0 !important;

	width: 70px !important;text-align:  center !important;

}

.txtNoView{

	font-size: 1px;

	color: white;

}

.icoMano{

	cursor:pointer !important; cursor: hand !important;

}

/*------- BOTON PREDETERMINADO -----*/

	.botonDiv{

		background: black;

		border-radius: 18px;

		border: 1px solid white;

		box-shadow: 4px 4px rgba(0,0,0,0.1);

		color: white;

		font-size: 18px;

		font-weight: 200;

		padding: 3px;

		-ms-transform: rotate(-1deg); /* IE 9 */

	  	-webkit-transform: rotate(-1deg); /* Safari 3-8 */

	  	transform: rotate(-1deg);

	}



.rotar180 {

	-ms-transform: rotate(-180deg); /* IE 9 */

      -webkit-transform: rotate(-180deg); /* Safari 3-8 */

      transform: rotate(-180deg);

}



.rotar13n {

	-ms-transform: rotate(-13deg); /* IE 9 */

      -webkit-transform: rotate(-13deg); /* Safari 3-8 */

      transform: rotate(-13deg);

}

/*-------------------------------------------------*/

tr>td>img{

	width: 50px !important;

}

tr>td>img:hover {

  transform: scale(3.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

/*

==============================================================

========================   TOAST ABAD

==============================================================

*/

.toastAbad,#datoErrado{display: none;background: black;color: white; border-radius: 40px;padding: 15px;position: fixed;z-index: 99999; bottom: 60px;right: 20px}

#datoErrado{bottom: 120px !important;}

.toastAbad>span{color: yellow;}



/*---------------------------------------------------------------------------------------*/

/*SUBTITULOS*/

.nubesubtitulo{

padding: 4px 10px;

    background: #090909;

    display: table;

    border-radius: 100px 100px 0px;

    color: white;



}



/*--------------------------------------------------------------------------------*/

/*TABLA MINIMALISTA*/


thead {
    background: #fbfbfc !important;
    color: #fa8c00 !important;
    font-size: 13px !important;
}

.tbodyabad>tr>td{

	padding: 1px 8px !important;	

}

td{

	font-size: 13px !important;

	cursor:pointer !important; cursor: hand !important;

}

tbody tr:hover {

	background-color: rgb(254 158 35 / 15%) !important;

}





/*--------------------------------------------------------------------------------*/

/*checkbox elegante*/

input[type=checkbox]

{

  /* Double-sized Checkboxes */

  -ms-transform: scale(1.4) !important; /* IE */

  -moz-transform: scale(1.4) !important; /* FF */

  -webkit-transform: scale(1.4) !important; /* Safari and Chrome */

  -o-transform: scale(1.4) !important; /* Opera */

  padding: 7px !important;

}



/* Might want to wrap a span around your checkbox text */

.checkboxtext

{

  /* Checkbox text */

  font-size: 15% !important;

  display: inline !important;

}


